//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/authentication.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var pageTitle = 'Register'

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content
    .container
        .row.justify-content-center
            .col-xl-8.col-lg-9
                // Social registration form
                .card.my-5
                    .card-body.p-5.text-center
                        .h2.font-weight-light.mb-3 회원가입
                    hr.my-0
                    .card-body.p-5
                        // Registration form
                        form(method="POST")
                            // Form Group (email address)            
                            .form-group
                                label.small.mb-1(for='Email') 아이디
                                input#inputEmailAddress.form-control.py-4(type='email',name='email',aria-describedby='emailHelp',placeholder='아이디로 사용하실 이메일을 입력해주세요')
                            .form-row
                                .col-md-6
                                    .form-group
                                        label.small.mb-1(for='Name') 이름
                                        input#inputName.form-control.py-4(type='text',name='name',placeholder='이름을 입력해주세요')
                            //Company info
                            .form-row
                                .col-md-6                            
                                    .form-group
                                        label.small.mb-1(for='Company') 회사명
                                        input#inputCompany.form-control.py-4(type='text',name='company',placeholder='회사명을 입력해주세요')
                                .col-md-6                            
                                    .form-group
                                        label.small.mb-1(for='Position') 직책
                                        input#inputPosition.form-control.py-4(type='text',name='position',placeholder='사내 직책/직급을 입력해주세요') 
                            .form-row                                
                                .col-md-6                                                        
                                    .form-group
                                        label.small.mb-1(for='PhoneNumber') 휴대전화
                                        input#inputPhoneNumber.form-control.py-4(type='text',name='phonenumber',placeholder='휴대전화 번호를 입력해주세요')
                                .col-md-6                            
                                    .form-group
                                        label.small.mb-1(for='CompanyNumber') 사무실 번호
                                        input#inputCompany.form-control.py-4(type='text',name='companynumber',placeholder='사무실 번호를 입력해주세요')
                            // Form Row    
                            .form-row
                                .col-md-6
                                    // Form Group (password)
                                    .form-group
                                        label.small.mb-1(for='Password') 비밀번호
                                        input#inputPassword.form-control.py-4(type='password',name='password',placeholder='비밀번호를 입력해주세요')
                                .col-md-6
                                    // Form Group (confirm password)
                                    .form-group
                                        label.small.mb-1(for='ConfirmPassword') 비밀번호 확인
                                        input#inputConfirmPassword.form-control.py-4(type='password',name='confirmpassword',placeholder='비밀번호를 다시 입력해주세요')
                            // Form Group (create account submit)
                            .form-group.mt-4.mb-0
                                BUTTON.btn.btn-primary.btn-block(type="submit") 회원가입
                    .card-body.px-5.py-4
                        hr.my-0
                        br
                        .small.text-center
                            .h4.font-weight-light.mb-3 다른 서비스로 회원가입하기
                            // Social login links
                            a(href='/auth/kakao')
                                image(src='../../../assets/img/login/login-kakao.png', style='width: 240px;height:45px;')
                            br
                            br
                            a(href='/auth/naver')
                                image(src='../../../assets/img/login/login-naver.png', style='width: 240px;height:45px;')
                            br
                            br
                            a(href='/auth/google')
                                image(src='../../../assets/img/login/login-google.png', style='width: 240px;height:45px;')
                            br
                    .card-footer.text-center
                        .small
                            a(href='/auth/login') 계정이 있으신가요? 로그인 하러가기

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-dark'
    })