//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/authentication.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var pageTitle = 'Login'
//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content
    .container
        .row.justify-content-center
            .col-xl-5.col-lg-6.col-md-8.col-sm-11
                // Social login form
                .card.my-5
                    .card-body.p-5.text-center
                        .h2.font-weight-light.mb-3 Log in
                    // Basic login form
                    hr.my-0
                    .card-body.p-5
                        // Login form
                        form(method="POST")
                            // Form Group (email address)
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control.py-4(type='email',name='email',placeholder='Enter email address')
                            // Form Group (password)
                            .form-group
                                label.small.mb-1(for='inputPassword') Password
                                input#inputPassword.form-control.py-4(type='password',name='password',placeholder='Enter password')
                            // Form Group (remember password checkbox)
                            .form-group
                                .custom-control.custom-checkbox
                                    input#rememberPasswordCheck.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='rememberPasswordCheck') 로그인 정보 저장
                            // Form Group (login box)
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(href='/auth/password') 비밀번호를 잊어버리셨나요?
                                button.btn.btn-primary(type="submit") Login
                    hr.my-0
                    .card-body.px-5.py-4
                        .small.text-center
                            .h4.font-weight-light.mb-3 다른 서비스로 로그인
                            // Social login links
                            a(href='/auth/kakao/callback')
                                image(src='../../../assets/img/login/login-kakao.png', style='width: 240px;height:45px;')
                            br
                            br
                            a(href='/auth/naver/callback')
                                image(src='../../../assets/img/login/login-naver.png', style='width: 240px;height:45px;')
                            br
                            br
                            a(href='/auth/google/callback')
                                image(src='../../../assets/img/login/login-google.png', style='width: 240px;height:45px;')
                            br
                            br
                        hr.my-0
                        .small.text-center
                            br
                            a(href='/auth/signup') 아이디가 없으신가요? 회원가입 하러가기

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-dark'
    })