mixin sidenav(options)

    nav.sidenav.shadow-right(class=options.sidenavStyle)
            
        .sidenav-menu
            
            .nav.accordion#accordionSidenav
                
                a.nav-link(href='/dashboard')
                    .nav-link-icon
                        i(data-feather='trello')
                    | Dashboard

                .sidenav-menu-heading
                    | 프로젝트
                    
                a.nav-link(href='/inprogress')
                    .nav-link-icon
                        i(data-feather='activity')
                    | 진행 프로젝트

                .sidenav-menu-heading
                    | 프로젝트 관리

                a.nav-link(href='/proj_list')
                    .nav-link-icon
                        i(data-feather='folder')
                    | 프로젝트 조회
                a.nav-link(href='/proj_create')
                    .nav-link-icon
                        i(data-feather='folder-plus')
                    | 프로젝트 생성
                a.nav-link(href='#!')
                    .nav-link-icon    
                        i(data-feather='folder-minus')                    
                    | 프로젝트 삭제

        .sidenav-footer
            
            .sidenav-footer-content
                .sidenav-footer-subtitle Logged in as:
                .sidenav-footer-title #{options.user}
