mixin sidenav(options)

    nav.sidenav.shadow-right(class=options.sidenavStyle)
            
        .sidenav-menu
            
            .nav.accordion#accordionSidenav
                
                a.nav-link(href='/dashboard')
                    .nav-link-icon
                        i(data-feather='trello')
                    | Main Dashboard

                .sidenav-menu-heading
                    | 프로젝트 관리
                a.nav-link(href='/project')
                    .nav-link-icon                
                        i(data-feather='map')
                    | 프로젝트 Dashboard    
                a.nav-link(href='/project/notices')
                    .nav-link-icon
                        i(data-feather='info')
                    | 공지사항
                a.nav-link(href='/project/jobs')
                    .nav-link-icon
                        i(data-feather='monitor')
                    | 업무조회
                a.nav-link(href='/project/members')
                    .nav-link-icon
                        i(data-feather='users')
                    | 참여 인원 관리

        .sidenav-footer
            
            .sidenav-footer-content
                .sidenav-footer-subtitle Logged in as:
                .sidenav-footer-title valerie
