//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *
extends ../layouts/authentication.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var pageTitle = 'Welcome to PMS'


//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    script.
        if(newclinet == true){
            alert("회원가입에 성공하였습니다!");
        }
    // Main page content
    include mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: 'Manage your project like a boss!',
        breadcrumbs: false
    })

    .container.mt-n10
        .card
            .card-body
                h5.card-title Start managing your project with PMS
                p.card-text
                    | 당신의 프로젝트를 진행하세요!
                a.btn.btn-primary.btn-sm(href='/auth/login')
                    i.mr-1(data-feather='external-link')
                    | Sign in with your account
                p.card-text
                    | 계정이 없으신가요?    
                a.btn.btn-primary.btn-sm(href='/auth/signup')
                    i.mr-1(data-feather='external-link')
                    | Sign up for PMS
                p.card-text
                    | 내 비밀번호가 뭐였지?    
                a.btn.btn-primary.btn-sm(href='/auth/password')
                    i.mr-1(data-feather='external-link')
                    | 비밀번호 찾기
    //image
    .div.container.mt-n10
        img(src='../../assets/img/index_image.png', style='width:100%;height:100%;')




//- Define the `block footer` from the layout
block footer
    include mixins/footer.pug
    +footer({
        footerStyle: 'footer-dark'
    })