//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *
extends ../layouts/authentication.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var pageTitle = 'Welcome to PMS'

include mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: 'Manage your projects like a boss ;)',
        pageIcon: 'file',
        breadcrumbs: false,
        search: false
})

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    include mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: 'Manage your project like a boss!',
        breadcrumbs: false
    })

    

    // Main page content

    .container.mt-n10
        .card
            .card-body
                h5.card-title Start managing your project with PMS
                p.card-text
                    | 당신의 프로젝트를 진행하세요!
                a.btn.btn-primary.btn-sm(href='./user/login', target='_blank')
                    i.mr-1(data-feather='external-link')
                    | Sign in with your account
                p.card-text
                    | 계정이 없으신가요?    
                a.btn.btn-primary.btn-sm(href='./user/signup', target='_blank')
                    i.mr-1(data-feather='external-link')
                    | Sign up for PMS
                p.card-text
                    | 내 비밀번호가 뭐였지?    
                a.btn.btn-primary.btn-sm(href='./user/password', target='_blank')
                    i.mr-1(data-feather='external-link')
                    | 비밀번호 찾기
    //image
    .div.container.mt-n10
        img(src='../../assets/img/index_image.png', style='width:100%;height:100%;')




//- Define the `block footer` from the layout
block footer
    include mixins/footer.pug
    +footer({
        footerStyle: 'footer-dark'
    })