.datatable
    table#dataTable.table.table-bordered.table-hover(width='100%', cellspacing='0')
        thead
            tr
                th 이름
                th 회사
                th 소속부서
                th 직책
                th email
                th Actions

        tbody
            tr
                td Tiger Nixon
                td System Architect
                td IT
                td system architecture
                td tiger@gmail.com
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='user-minus')