.datatable
    table#dataTable.table.table-bordered.table-hover(width='100%', cellspacing='0')
        thead
            tr
                th 이름
                th 회사
                th 소속부서
                th 직책
                th email
                th 비고
                th Actions

        tfoot
            tr
                th 이름
                th 회사
                th 소속부서
                th 직책
                th email
                th 비고
                th Actions

        tbody
            tr
                td Tiger Nixon
                td System Architect
                td IT
                td system architecture
                td tiger@gmail.com
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Garrett Winters
                td Accountant
                td 회계부
                td Accountant
                td seller2@naver.com
                td
                    .badge.badge-warning.badge-pill Pending
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Ashton Cox
                td Junior Technical Author
                td Financial Analysis
                td intern
                td ac2442@gmail.cpm
                td
                    .badge.badge-secondary.badge-pill Part-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Cedric Kelly
                td Senior Javascript Developer
                td CEO
                td CEO
                td juu143@knuar.com
                td
                    .badge.badge-info.badge-pill Contract
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Airi Satou
                td Accountant
                td marketing
                td Accountant member
                td 4je21@mail.com
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Brielle Williamson
                td Integration Specialist
                td IT
                td project manager
                td 4882jj@melon.com
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Herrod Chandler
                td Sales Assistant
                td Sales
                td Sales Assistant
                td dj4h24@naver.com
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Rhona Davidson
                td Integration Specialist
                td IT
                td Junior developer
                td isgood2@gmail.com
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
