.datatable
    table#dataTable.table.table-bordered.table-hover(width='100%', cellspacing='0')
        thead
            tr
                th 프로젝트 명
                th 프로젝트 리더
                th 참가인원
                th 프로젝트 기간
                th 비고
                th Status
                th Actions

        tfoot
            tr
                th 프로젝트 명
                th 프로젝트 리더
                th 참가인원
                th 프로젝트 기간
                th 비고
                th Status
                th Actions

        tbody
            tr
                td Tiger Nixon
                td System Architect
                td 61
                td 2011/04/25
                td $320,800
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Garrett Winters
                td Accountant
                td 63
                td 2011/07/25
                td $170,750
                td
                    .badge.badge-warning.badge-pill Pending
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Ashton Cox
                td Junior Technical Author
                td 66
                td 2009/01/12
                td $86,000
                td
                    .badge.badge-secondary.badge-pill Part-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Cedric Kelly
                td Senior Javascript Developer
                td 22
                td 2012/03/29
                td $433,060
                td
                    .badge.badge-info.badge-pill Contract
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Airi Satou
                td Accountant
                td 33
                td 2008/11/28
                td $162,700
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Brielle Williamson
                td Integration Specialist
                td 61
                td 2012/12/02
                td $372,000
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Herrod Chandler
                td Sales Assistant
                td 59
                td 2012/08/06
                td $137,500
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Rhona Davidson
                td Integration Specialist
                td 55
                td 2010/10/14
                td $327,900
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Colleen Hurst
                td Javascript Developer
                td 39
                td 2009/09/15
                td $205,500
                td
                    .badge.badge-info.badge-pill Contract
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Sonya Frost
                td Software Engineer
                td 23
                td 2008/12/13
                td $103,600
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Jena Gaines
                td Office Manager
                td 30
                td 2008/12/19
                td $90,560
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Quinn Flynn
                td Support Lead
                td 22
                td 2013/03/03
                td $342,000
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Timothy Mooney
                td Office Manager
                td 37
                td 2008/12/11
                td $136,200
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Jackson Bradshaw
                td Director
                td 65
                td 2008/09/26
                td $645,750
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Olivia Liang
                td Support Engineer
                td 64
                td 2011/02/03
                td $234,500
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Bruno Nash
                td Software Engineer
                td 38
                td 2011/05/03
                td $163,500
                td
                    .badge.badge-info.badge-pill Contract
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Sakura Yamamoto
                td Support Engineer
                td 37
                td 2009/08/19
                td $139,575
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Thor Walton
                td Developer
                td 61
                td 2013/08/11
                td $98,540
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Finn Camacho
                td Support Engineer
                td 47
                td 2009/07/07
                td $87,500
                td
                    .badge.badge-info.badge-pill Contract
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Serge Baldwin
                td Data Coordinator
                td 64
                td 2012/04/09
                td $138,575
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Zenaida Frank
                td Software Engineer
                td 63
                td 2010/01/04
                td $125,250
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Zorita Serrano
                td Software Engineer
                td 56
                td 2012/06/01
                td $115,000
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Jennifer Acosta
                td Junior Javascript Developer
                td 43
                td 2013/02/01
                td $75,650
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Cara Stevens
                td Sales Assistant
                td 46
                td 2011/12/06
                td $145,600
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Hermione Butler
                td Regional Director
                td 47
                td 2011/03/21
                td $356,250
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Lael Greer
                td Systems Administrator
                td 21
                td 2009/02/27
                td $103,500
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Jonas Alexander
                td Developer
                td 30
                td 2010/07/14
                td $86,500
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Shad Decker
                td Regional Director
                td 51
                td 2008/11/13
                td $183,000
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Michael Bruce
                td Javascript Developer
                td 29
                td 2011/06/27
                td $183,000
                td
                    .badge.badge-primary.badge-pill Full-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
            tr
                td Donna Snider
                td Customer Support
                td 27
                td 2011/01/25
                td $112,000
                td
                    .badge.badge-secondary.badge-pill Part-time
                td
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark.mr-2
                        i(data-feather='more-vertical')
                    button.btn.btn-datatable.btn-icon.btn-transparent-dark
                        i(data-feather='trash-2')
