//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = 'Dashboard'

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark'
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: 'Example dashboard overview and content summary',
        pageIcon: 'activity',
        breadcrumbs: false
    })

    // Main page content
    .container.mt-n10
        .row
            form.form-inline.mr-auto.d-none.d-md-block
                .input-group.input-group-joined.input-group-solid
                    input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                    .input-group-append
                        .input-group-text
                            i(data-feather='search')

        .row
            .col-xxl-12.col-xl-12.mb-6
                .card
                    .card-header 업무게시판
                    .card-body.p-0
                        .table-responsive.table-billing-history
                            table.table.mb-0
                                thead
                                    tr
                                        th(scope='col') 이름
                                        th(scope='col') 시작날짜
                                        th(scope='col') 종료날짜
                                        th(scope='col') Status
                                tbody
                                    tr
                                        td 업무1
                                        td 08/15/2020
                                        td 09/01/2020
                                        td
                                            span.badge.badge-danger 지연
                                    tr
                                        td 업무2
                                        td 08/15/2020
                                        td 09/10/2020
                                        td
                                            span.badge.badge-success 정상
                                    tr
                                        td 업무3
                                        td 08/15/2020
                                        td 09/14/2020
                                        td
                                            span.badge.badge-success 정상
                                    tr
                                        td 업무4
                                        td 08/15/2020
                                        td 09/14/2020
                                        td
                                            span.badge.badge-success 정상           
        .row
            .col-xxl-12.col-xl-12.mb-6
                // Tabbed dashboard card example
                .card.mb-4
                    .card-header.border-bottom
                        // Dashboard card navigation
                        ul.nav.nav-tabs.card-header-tabs#dashboardNav(role='tablist')
                            li.nav-item.mr-1
                                a.nav-link.active#overview-pill(href='#overview', data-toggle='tab', role='tab', aria-controls='overview', aria-selected='true') Overview
                            li.nav-item
                                a.nav-link#activities-pill(href='#activities', data-toggle='tab', role='tab', aria-controls='activities', aria-selected='false') Activities
                    .card-body
                        .tab-content#dashboardNavContent
                            // Dashboard Tab Pane 1
                            .tab-pane.fade.show.active#overview(role='tabpanel', aria-labelledby='overview-pill')
                                .chart-area.mb-4.mb-lg-0(style="height: 20rem;")
                                    canvas#myAreaChart(width='100%', height='30')
                            // Dashboard Tab Pane 2
                            .tab-pane.fade#activities(role='tabpanel', aria-labelledby='activities-pill')
                                include ../includes/datatable-activity-example.pug

//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js', crossorigin='anonymous')
    //- Load custom Chart.js styling and demo data
    script(src='../assets/demo/chart-area-demo.js')
    script(src='../assets/demo/chart-pie-demo.js')
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='../assets/demo/datatables-demo.js')
