//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive with a path to a layout template
//- All of the layout options are contained in src/pug/layouts
extends ../../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be set for each page
block config
    - var navPosition = 'nav-fixed'
    - var pageTitle = '멤버관리'

//- Add CSS for third party plugins used on this page
append css
    //- Load dataTables CSS via CDN
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

//- * * * * * * * *
//- * * Topnav  * *
//- * * * * * * * *

//- Define the `block topnav` from the layout
block topnav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/topnav.pug
    +topnav({
        topnavStyle: 'navbar-light bg-white'
    })

//- * * * * * * * *
//- * * Sidenav * *
//- * * * * * * * *

//- Define the `block sidenav` from the layout
//- Note: The chosen page layout must have a `block sidenav` or no sidenav will appear
block sidenav

    //- Bring in the sidenav mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/sidenav-proj.pug
    +sidenav({
        sidenavStyle: 'sidenav-dark'
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

//- Define the main `block content` from the layout
block content

    //- Bring in the page header mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.com/sb-admin-pro/
    include ../mixins/headers/header-default.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderSpacing: 'pb-10',
        pageHeaderContainer: 'container',
        pageSubtitle: '프로젝트에 참여하고 있는 멤버를 관리합니다.',
        pageIcon: 'activity',
        breadcrumbs: false
    })

    // Main page content
    .container.mt-n10

        .row
            .col-xxl-12.col-xl-12.mb-6
                .row
                    .col-xxl-6.mb-4
                        // Dashboard activity timeline example
                        .card.card-header-actions.h-100
                            .card-header
                                | Recent Activity
                                .dropdown.no-caret
                                    button#dropdownMenuButton.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        i.text-gray-500(data-feather='more-vertical')
                                    .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='dropdownMenuButton')
                                        h6.dropdown-header Filter Activity:
                                        a.dropdown-item(href='#!')
                                            span.badge.badge-green-soft.text-green.my-1 Commerce
                                        a.dropdown-item(href='#!')
                                            span.badge.badge-blue-soft.text-blue.my-1 Reporting
                                        a.dropdown-item(href='#!')
                                            span.badge.badge-yellow-soft.text-yellow.my-1 Server
                                        a.dropdown-item(href='#!')
                                            span.badge.badge-purple-soft.text-purple.my-1 Users
                           
            .col-xxl-12.col-xl-12.mb-6
                // Team members / people dashboard card example
                .card.mb-4
                    .card-header
                        | 현재 멤버
                    .card-body
                        // Item 1
                        .d-flex.align-items-center.justify-content-between.mb-4
                            .d-flex.align-items-center.flex-shrink-0.mr-3
                                .avatar.avatar-xl.mr-3.bg-gray-200
                                    img.avatar-img.img-fluid(src='../assets/img/freepik/profiles/profile-1.png', alt='')
                                .d-flex.flex-column.font-weight-bold
                                    a.text-dark.line-height-normal.mb-1(data-toggle='modal', data-target='#exampleModalScrollable') Sid Rooney
                                    .small.text-muted.line-height-normal Position
                            .dropdown.no-caret
                                button#dropdownPeople1.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i(data-feather='more-vertical')
                                .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='dropdownPeople1')
                                    a.dropdown-item(href='#!') 게시글 조회
                        // Item 3
                        .d-flex.align-items-center.justify-content-between.mb-4
                            .d-flex.align-items-center.flex-shrink-0.mr-3
                                .avatar.avatar-xl.mr-3.bg-gray-200
                                    img.avatar-img.img-fluid(src='../assets/img/freepik/profiles/profile-3.png', alt='')
                                .d-flex.flex-column.font-weight-bold
                                    a.text-dark.line-height-normal.mb-1(data-toggle='modal', data-target='#exampleModalScrollable') Kaia Smyth
                                    .small.text-muted.line-height-normal Position
                            .dropdown.no-caret
                                button#dropdownPeople3.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i(data-feather='more-vertical')
                                .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='dropdownPeople3')
                                    a.dropdown-item(href='#!') 게시글 조회
                        // Item 4
                        .d-flex.align-items-center.justify-content-between.mb-4
                            .d-flex.align-items-center.flex-shrink-0.mr-3
                                .avatar.avatar-xl.mr-3.bg-gray-200
                                    img.avatar-img.img-fluid(src='../assets/img/freepik/profiles/profile-4.png', alt='')
                                .d-flex.flex-column.font-weight-bold
                                    a.text-dark.line-height-normal.mb-1(data-toggle='modal', data-target='#exampleModalScrollable') Kerri Kearney
                                    .small.text-muted.line-height-normal Position
                            .dropdown.no-caret
                                button#dropdownPeople4.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i(data-feather='more-vertical')
                                .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='dropdownPeople4')
                                    a.dropdown-item(href='#!') 게시글 조회
                        // Item 5
                        .d-flex.align-items-center.justify-content-between.mb-4
                            .d-flex.align-items-center.flex-shrink-0.mr-3
                                .avatar.avatar-xl.mr-3.bg-gray-200
                                    img.avatar-img.img-fluid(src='../assets/img/freepik/profiles/profile-5.png', alt='')
                                .d-flex.flex-column.font-weight-bold
                                    a.text-dark.line-height-normal.mb-1(data-toggle='modal', data-target='#exampleModalScrollable') Georgina Findlay
                                    .small.text-muted.line-height-normal Position
                            .dropdown.no-caret
                                button#dropdownPeople5.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i(data-feather='more-vertical')
                                .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='dropdownPeople5')
                                    a.dropdown-item(href='#!') 게시글 조회
                
            .col-xxl-12.col-xl-12.mb-6
                .card
                    .card-body.text-center.p-5
                        img.img-fluid.mb-4(src='../assets/img/freepik/team-spirit-pana.svg', alt='', style='max-width: 16.25rem')
                        h5 팀원 초대하기
                        p.mb-4 새로운 멤버를 초대합니다.
                        a.btn.btn-sm.btn-primary.p-3.line-height-normal(href='#!') Invite
                
            .col-xxl-12.col-xl-12.mb-6
                .card.mb-4
                    .card-header
                        | 초대 현황
                    .card-body
                        // Item 2
                        .d-flex.align-items-center.justify-content-between.mb-4
                            .d-flex.align-items-center.flex-shrink-0.mr-3
                                .avatar.avatar-xl.mr-3.bg-gray-200
                                    img.avatar-img.img-fluid(src='../assets/img/freepik/profiles/profile-2.png', alt='')
                                .d-flex.flex-column.font-weight-bold
                                    a.text-dark.line-height-normal.mb-1 Keelan Garza
                                    .small.text-muted.line-height-normal 대기중
                            .dropdown.no-caret
                                button#dropdownPeople2.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i(data-feather='trash')
                        
                        // Item 6
                        .d-flex.align-items-center.justify-content-between
                            .d-flex.align-items-center.flex-shrink-0.mr-3
                                .avatar.avatar-xl.mr-3.bg-gray-200
                                    img.avatar-img.img-fluid(src='../assets/img/freepik/profiles/profile-6.png', alt='')
                                .d-flex.flex-column.font-weight-bold
                                    a.text-dark.line-height-normal.mb-1 Wilf Ingram
                                    .small.text-muted.line-height-normal 취소(PM 불허)
                            .dropdown.no-caret
                                button#dropdownPeople6.btn.btn-transparent-dark.btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i(data-feather='trash')
                
                //- Modal
                #exampleModalScrollable.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalScrollableTitle', aria-hidden='true')
                    .modal-dialog.modal-dialog-scrollable(role='document')
                        .modal-content
                            .modal-header
                                h5#exampleModalScrollableTitle.modal-title 회원 정보
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                            .modal-body
                                | ...
                            .modal-footer
                                button.btn.btn-secondary(type='button') 메세지 보내기
                                button.btn.btn-primary(type='button', data-dismiss='modal') 닫기
//- * * * * * * * *
//- * * Footer  * *
//- * * * * * * * *

//- Define the `block footer` from the layout
block footer

    //- Bring in the footer mixin and configure
    //- For all available config options for this mixin, visit https://docs.startbootstrap.co/sb-admin-pro/
    include ../mixins/footer.pug
    +footer({
        footerStyle: 'footer-light'
    })

append scripts
    //- Load Chart.js via CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js', crossorigin='anonymous')
    //- Load custom Chart.js styling and demo data
    script(src='assets/demo/chart-area-demo.js')
    script(src='assets/demo/chart-pie-demo.js')
    //- Load dataTables via CDN
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    //- Load dataTables demo data
    script(src='assets/demo/datatables-demo.js')
